.el-form-item.is-success .el-input__inner, .el-form-item.is-success .el-input__inner:focus, .el-form-item.is-success .el-textarea__inner, .el-form-item.is-success .el-textarea__inner:focus {
  border-color:#dcdfe6!important;
}
#classDefault{
  border-color:#dcdfe6!important;
}
#classTip{
  border-color:#f56c6c!important;
}
