.wrapperTree .el-tree-node__content{
  line-height: 20px!important;
  height: 20px!important;
}

.el-form> .el-form-item > .el-form-item__label {
  width: 150px !important;
}

.el-form > .el-form-item > .el-form-item__content {
  margin-left: 150px !important;
}
