.wrapperTree .el-tree-node__content{
  line-height: 20px!important;
  height: 20px!important;
}

.ruleForm> .el-form-item > .el-form-item__label {
  width: 120px !important;
}

.ruleForm > .el-form-item > .el-form-item__content {
  margin-left: 120px !important;
}
/*新版赳赳乐享页面启用停用按钮*/
.headerTitle .el-switch{
  float:right;
}
.headerTitle .el-switch__core, .el-switch__label{
  float: right;
  width: 100px;
  height: 24px;
  line-height: 24px;
  text-align: center;
}

